# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
# Rider/VS
.idea/
.vs/
*.csproj
*.sln
*.user
*.pidb
*.mdb
*.opendb
*.VC.db
# Crash/Profiler
*.stacktrace
*.mem
*.dmp
# Addressables/Cache
/[Aa]ssets/**/AddressableAssetsData/*
/[Aa]ssetBundles/
# Generated
/[Aa]ssets/Plugins/Editor/JetBrains*
# OS
.DS_Store
Thumbs.db

# Other files
_Unused/
